.wish-container{

    min-height: 250px;
    width: 1200px;
    border: 1px solid #ced6e0;
    background-color:white;
    border-radius: 10px;
    margin-bottom: 20px;
   color: #192a56;
  position: relative;
  padding: 10px;
}
.wish-container:hover{
    box-shadow: 5px 5px 20px gray;
}
.wishlist-details{
    padding: 10px;
}
.add{
 font-size: 20px;
    position: absolute;
    top: 10px;
    right: 70px;
    
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
padding-top: 5px;
padding-bottom: 5px;
 
    border-radius: 4px;
    color: white;
    background-color: goldenrod;
  
}
.add:hover{
 background-color: lightblue;
 color: #192a56;

}

.book-thumbnail{
    width: 150px;
    border-radius: 5px;
}
.remove{
    top :10px;
    right: 10px;
   
    outline: none;
    border: none;
    background-color: none ;
    border: 1px solid gold;
    border-radius: 4px;
    color: white;
    background-color: blueviolet;
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
padding-bottom: 5px;
}
.remove:hover{
    background-color: red;
    
}



.cart{
    margin: 0 75px;
}
.empty-cart{
    margin-top: 50px;
}

.text-large{
    font-size: 80px;
}

.text-theme{
    color:rgb(255, 102, 0);
}

.cart-empty-img{
    width: 200px;
}

.mb-50{
    margin-bottom: 50px;
}

.items-container{
    max-width: 890px;
}

.btn-theme{
    border-radius: 5px;
    border: none;
    padding: 5px;
    color: white;
    background-color: hsl(223, 55%, 22%);
    border-color: #273c75;
}
.btn-theme:hover{
    background-color:goldenrod;
}