<!-- <img src="../../../assets/124499.jpg" class="about" alt=""> -->
<div class="container">

    <div class="d-flex justify-content-center flex-column align-items-center">
        <h1 class="mb-5">About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, pariatur natus odit dolor voluptatibus quae eum officiis nihil magni facere, provident maiores porro tempore! Ab at cupiditate dolor perspiciatis harum. Nihil explicabo, saepe itaque neque fugiat veritatis nam commodi repellat officiis. Dolores aliquid accusantium aliquam, harum unde excepturi ullam, neque sed asperiores quod illum veritatis. Eos ad sapiente molestias exercitationem nisi, animi modi maiores qui ea adipisci. Omnis, fugiat similique sunt cumque vero est ipsum iure corrupti reiciendis, doloribus repellendus quaerat accusantium inventore perferendis quidem ipsa explicabo atque rem deserunt neque aspernatur ut facere tempore. Dolore libero saepe ea cumque?</p>
    </div>
</div>
<app-footer></app-footer>